
.container{
    display: flex;
    justify-content:  center;
}

#grid-container{
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.square{
    background-color: black; 
    width: 6.25%;
    padding-bottom: 6.25%;
    position: relative;
}

/* .square:before{
    content: '';
    display: block;
    padding-top: 100%;
} */


